/* Testing this color palette mostly "boring" colors with an orange accent(--fifth) */
:root {
  --first: #fffcf2;
  --second: #ccc5b9;
  --third: #403d39;
  --fourth: #252422;
  --fifth: #eb5e28;
}

body {
  background-color: var(--first);
  color: var(--third);
  font-family: sans-serif;
  margin: auto;
  width: 50vw;
}

header {
  margin-top: 2vh;
}

a {
  text-decoration: none;
  color: var(--fifth);
}

header > a {
  font-weight: 550;
  padding: 5px;
}

span {
  font-family: serif;
  font-size: 1.5rem
}

article {
  text-align: justify;
}
